
header{
    
    
    
    background-repeat: no-repeat;
    background-image: url(../images/background.png);
    .container{
        margin: 0 auto;
        max-width: 1024px;
        text-align: center;
        padding-bottom: 40px;

    

        
        img{
            
            width: 200px;
        }
    }
}
